@font-face {
    font-family: 'regular';
    src: url(assets/Assistant-Regular.woff);
}

@font-face {
    font-family: 'bold';
    src: url(assets/Assistant-Bold.woff);
}
@font-face {
    font-family: 'foot1';
    src: url(assets/KFOlCnqEu92Fr1MmEU9fBBc4AMP6lQ.woff2);
}
@font-face {
    font-family: 'foot2';
    src: url(assets/KFOmCnqEu92Fr1Mu4mxKKTU1Kg.woff2);
}

:root {}

* {
    box-sizing: border-box;
}

body {
    font-size: 14px;
}

body,
p,
ul,
li,
a {
    padding: 0;
    margin: 0;
    text-decoration: none;

}

p,
a,
li,
span,
select,
ul,
button,
div {

    /* font-family: "regular"; */
    font-family: "regular";


}

h1,
h2,
h3,
h4,
h5,
h6 {

    font-family: "bold";
    font-weight: normal !important;

    margin: 0;
    padding: 0;


}

li {
    list-style-type: none;
}
